<!doctype html>
<title>Convert .doc to .pdf</title>
<h1>Convert .doc to .pdf</h1>
<h2>Upload new File</h2>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
    <h2>or point to a file online</h2>
    <p>You can provide the URL of a document to convert with the <code>url</code> query parameter.
        For example <a
            href="/?url=http://homepages.inf.ed.ac.uk/neilb/TestWordDoc.doc">/?url=http://homepages.inf.ed.ac.uk/neilb/TestWordDoc.doc</a>
    </p>
</form>